@keyframes bgmove {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}

.animate-bgmove {
  background-size: 400% 400%;
  animation: bgmove 60s linear infinite;
}

.stars {
  width: 100%;
  height: 100%;
  background: transparent url("https://raw.githubusercontent.com/Klerith/starfield-css/main/src/assets/stars.png") repeat top center;
  opacity: 0.5;
  animation: starScroll 100s linear infinite;
}

@keyframes starScroll {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}
